<!DOCTYPE html>
<html>

<head>

    <title> create a parcel delivery </title>

</head>

<body>

    <form action="/parcels" method="POST">

       
        <div>
            <label for="FullName">FullName</label>
            <input type="text" id="FullName" name="FullName" required>
        </div>
        <div>
            <label for="presentlocation"> Present Location </label>
            <input type="text" id="presentlocation" name="presentlocation" required>
        </div>
        <br>
        <div>
            <label for="destination"> Destination </label>
            <input type="text" id="destination" name="destination" required>
        </div>
        <br>
        <div>
            <label for="itemname"> Item Name</label>
            <input type="text" id="itemname" name="itemname" required>
        </div>
        <br>
        <div>
            <button type="submit" target="blank"> Create Item</button>
        </div>
    </form>

</body>

</html>