<!DOCTYPE HTML>
<html>

<head>

    <title> change your destination </title>

</head>

<body>

    <form action="/parcels/:id/destination" method="PUT">

        <div>
            <label for="FullName"> FullName </label>
            <input type="text" id="FullName" name="FullName" required>
        </div>

        <br>

        <div>
            <label for="destination"> Change Destination </label>
            <input type="text" id="destination" name="destination" required>
        </div>
        <br>

        <div>
            <label for="id"> id </label>
            <input type="text" id="id" name="id" required>
        </div>

        <br>


        <div>
            <button>submit</button>
        </div>
    </form>

    <a href="register.html"> REGISTER</a>



</body>

</html>