<!DOCTYPE HTML>
<html>

<head>

    <title> user login page</title>

</head>
<hi>SIGNUP PAGE</hi>
<body>

    <form action="/signup" method="POST">

        <div>
            <label for="Firstname"> Firstname</label>
            <input type="text" id="Firstname" name="Firstname" required>
        </div>

        <br>

        <div>
            <label for="Lastname"> Lastrname</label>
            <input type="text" id="Lastnmae" name="Lastname" required>
        </div>

        <br>

        <div>
            <label for="username"> Username</label>
            <input type="text" id="username" name="username" required>
        </div>

        <br>

        <div>
            <label for="password"> password</label>
            <input type="text" id="password" name="password" required>
        </div>

        <br>

        <div>
            <label for="email"> email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <br>

        <div>
            <button type="submit" target="blank">signup</button>
        </div>
    </form>

    <a href="login"> GO TO LOGIN </a>

    

</body>

</html>